{% trans_default_domain 'FOSUserBundle' %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-uppercase" id="exampleModalLabel1">change password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="right-w3l mt-4 mb-3">
        <input type="submit"  class="form-control" value="{{ 'change password submit'|trans }}" />
    </div>

        </div>
    </div>
</div></div>
{{ form_end(form) }}
